<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Entry</title>

<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />

</head>
<body>
	<h1 align="left">
		<form th:action="@{/}">
			<input type="image" src="/image/Home.jpg" width="35" height="30"  />
		</form>
	</h1>

	<form th:action="@{/doCylinderEntry}" th:object="${cylinder}" method="post">
		<table align="center">
			<caption>
				<h1>Cylinder entry</h1>
			</caption>
			<tr>
				<th>Type <select name="type" th:field="*{type}">
						<option value="">Select</option>
						<option value="subsidy">Subsidy</option>
						<option value="commercial">Commercial</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Capacity <select name="capacity" th:field="*{capacity}">
						<option value="">Select</option>
						<option value="14.2">14.2Kg</option>
						<option value="5">5Kg</option>
						<option value="19">19Kg</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Status <select name="status" th:field="*{status}">
						<option value="">Select</option>
						<option value="filled">Filled</option>
						<option value="empty">Empty</option>
						<option value="reFilled">Re-Filled</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Invoice no. <input type="text" value="" th:field="*{invoice}"></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Quantity <input type="text" th:field="*{quantity}"></th>
			</tr>
		</table>
		<table align="center">
			<tr>
				<th align="center"><input type="image" src="/image/Submit.png" width="65" height="30"  /></th>
			</tr>
		</table>
	</form>

	<br />
	<br />
	<form th:action="@{/doGoodsEntry}" th:object="${goods}" method="post">
		<table align="center">
			<caption>
				<h1>Goods entry</h1>
			</caption>
			<tr>
				<th>Name <select name="name" th:field="*{name}">
						<option value="">Select</option>
						<option value="stove">Stove</option>
						<option value="Glass chulha">Glass chulha</option>
						<option value="smart burner">Smart burner</option>
						<option value="Hose pipe">Hose pipe</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Type <select name="type" th:field="*{type}">
						<option value="">Select</option>
						<option value="branded">Branded</option>
						<option value="local">Local</option>
						<option value="Ujwala/BPL">Ujwala/BPL</option>
						<option value="glass_chulha">glass_chulha</option>
						<option value="3-burner">3_burner</option>
						<option value="190/-">190/-</option>
						<option value="100/-">100/-</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Sale/Buy <select name="soldOrPurchase" th:field="*{soldOrPurchase}">
						<option value="">Select</option>
						<option value="buy">Buy</option>
						<option value="sold">Sold</option>
						<option value="new">New</option>
				</select></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Price(Rate) <input type="text" th:field="*{price}"></th>
				<td></td>
				<td></td>
				<td></td>
				<th>Quantity <input type="text" th:field="*{quantity}"></th>
			</tr>
		</table>
		<table align="center">
			<tr>
				<th align="center"><input type="image" src="/image/Submit.png" width="65" height="30"  /></th>
			</tr>
		</table>
	</form>
</body>
</html>