<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sold & Buy product</title>

<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />

</head>
<body>
	<h1 align="left">
		<form th:action="@{/}">
			<input type="image" src="/image/Home.jpg" width="35" height="30"  />
		</form>
	</h1>
	
	<table align="center" border="1">
		<caption><h2><u>Buy products</u></h2></caption>
		<tr>
			<th>Product name</th>
			<th>Type</th>
			<th>Quantity</th>
			<th>Date</th>
		</tr>
		<div th:each="buyCylinders : ${buyCylindersList}">
			<tr>
				<td align="center"><div th:text="${buyCylinders.name}"></div></td>
				<td align="center"><div th:text="${buyCylinders.type}"></div></td>
				<td align="center"><div th:text="${buyCylinders.quantity}"></div></td>
				<td align="center"><div th:text="${buyCylinders.date}"></div></td>
			</tr>
		</div>
		<div th:each="buyGoods : ${buyGoodsList}">
			<tr>
				<td align="center"><div th:text="${buyGoods.name}"></div></td>
				<td align="center"><div th:text="${buyGoods.type}"></div></td>
				<td align="center"><div th:text="${buyGoods.quantity}"></div></td>
				<td align="center"><div th:text="${buyGoods.date}"></div></td>
			</tr>
		</div>
	</table>
	<br/>
	
	<table align="center" border="1">
		<caption><h2><u>Sold goods</u></h2></caption>
		<tr>
			<th>Product name</th>
			<th>Type</th>
			<th>Quantity</th>
			<th>Date</th>
		</tr>
		<div th:each="soldCylinders : ${soldCylindersList}">
			<tr>
				<td align="center"><div th:text="${soldCylinders.name}"></div></td>
				<td align="center"><div th:text="${soldCylinders.type}"></div></td>
				<td align="center"><div th:text="${soldCylinders.quantity}"></div></td>
				<td align="center"><div th:text="${soldCylinders.date}"></div></td>
			</tr>
		</div>
		<div th:each="soldGoods : ${soldGoodsList}">
			<tr>
				<td align="center"><div th:text="${soldGoods.name}"></div></td>
				<td align="center"><div th:text="${soldGoods.type}"></div></td>
				<td align="center"><div th:text="${soldGoods.quantity}"></div></td>
				<td align="center"><div th:text="${soldGoods.date}"></div></td>
			</tr>
		</div>
	</table>
	
	<br/>
	<br/>
	<br/>
	<table align="center">
		<tr>
			<td><form th:action="@{/cylinderRecord}">
					<input type="submit" value="Cylinder record" />
				</form></td>
			<td><form th:action="@{/productRecord}">
					<input type="submit" value="Product record" />
				</form></td>
			<td><form th:action="@{/delivery}">
					<input type="submit" value="Product delivery" />
				</form></td>
		</tr>
	</table>
</body>
</html>